---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import Aside from '@components/Aside.astro';
---

<StarlightPage
  frontmatter={{
    title: 'Customize address form layout and address lookup',
    description:
      'Learn how to customize the layout of the address form and integrate a third-party API for address verification.',
    tableOfContents: false,
    editUrl:
      'https://github.com/commerce-docs/microsite-commerce-storefront/blob/api-playground/src/pages/videos/customize-cart.astro',
  }}
  sidebar={[
    {
      label: 'Training Videos',
      items: [
        { label: 'Overview', link: '/videos/' },
        {
          label: 'Add custom product lines to cart summary',
          link: '/videos/add-product-lines-to-cart-summary/',
        },
        { label: 'Buy online, pickup in store', link: '/videos/buy-online-pickup-in-store/' },
        {
          label: 'Customize address form layout and address lookup',
          link: '/videos/customize-address-form-layout/',
        },
        { label: 'Customize cart summary', link: '/videos/customize-cart-summary/' },
        { label: 'Customize order summary lines', link: '/videos/customize-order-summary-lines/' },
        { label: 'Multi-step guest checkout', link: '/videos/multi-step-checkout/' },
      ],
    },
  ]}
>
  <style is:global>
    .sl-container.sl-container {
      max-width: 100%;
    }
    .meta.sl-flex {
      margin-top: 0;
      margin-bottom: 1rem;
      padding-top: 0;
    }
  </style>

  <h2>What you'll learn</h2>

  <p>In this video, you will learn how to:</p>

  <ul>
    <li>
      Customize the address form layout at checkout to ensure that all fields are 50% width, except
      for the text area.
    </li>
    <li>
      Integrate a third-party API to enable auto address lookup and validation in the address form.
    </li>
    <li>
      Add a new sidebar menu item to the user account dashboard, linking to a custom page for a
      store locator.
    </li>
  </ul>

  <h2>Who is this video for?</h2>

  <p>This video is beneficial for:</p>

  <ul>
    <li>
      <strong>E-commerce managers</strong> looking to understand how the checkout process and user account
      dashboard can be improved to enhance the customer experience.
    </li>
    <li>
      <strong>Front-end developers</strong> who need insights into practical implementations of CSS adjustments,
      third-party API integrations, and UI component customizations.
    </li>
    <li>
      <strong>UX/UI designers</strong> interested in how design changes are implemented and validated
      to ensure a consistent, user-friendly interface.
    </li>
    <li>
      <strong>Project managers</strong> who need to track development progress and understand the technical
      steps involved in achieving project goals.
    </li>
    <li>
      <strong>Technical leads</strong> overseeing development and ensuring best practices are followed
      in code implementation and integration.
    </li>
  </ul>

  <h2>Video content</h2>

  <ul>
    <li>Customizing field widths in checkout forms to ensure a consistent layout.</li>
    <li>
      Integrating the Google Address API to enable auto address lookup and completion, reducing user
      input errors and streamlining the checkout process.
    </li>
    <li>
      Implementing validation and error handling for address input fields to provide immediate
      feedback on incorrect or incomplete entries, enhancing the user experience.
    </li>
    <li>
      Extending the user account dashboard by adding a new sidebar menu item that links to a store
      locator page.
    </li>
  </ul>

  <div>
    <iframe
      width="760"
      height="430"
      src="https://video.tv.adobe.com/v/3442787?learn=on"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
  </div>

  <div style="max-width: 760px;">
    <Aside type="note" title="Looking for the documentation?">
      See the text-based versions of this video tutorial for step-by-step instructions and code
      samples.

      <ul>
        <li>
          <a
            href="https://experienceleague.adobe.com/developer/commerce/storefront/dropins/checkout/tutorials/address-integration/"
            >Address verification</a
          >
        </li>
        <li>
          <a
            href="https://experienceleague.adobe.com/developer/commerce/storefront/dropins/user-account/tutorials/"
            >Customize the address form layout</a
          >
        </li>
        <li>
          <a
            href="https://experienceleague.adobe.com/developer/commerce/storefront/dropins/user-account/sidebar/"
            >User account sidebar</a
          >
        </li>
      </ul>
    </Aside>
  </div>
</StarlightPage>
