---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import Aside from '@components/Aside.astro';
---

<StarlightPage
  frontmatter={{
    title: 'Customize order summary lines',
    description: 'Learn how to customize the lines of the Order Summary of the cart drop-in component.',
    tableOfContents: false,
    editUrl:
      'https://github.com/commerce-docs/microsite-commerce-storefront/blob/api-playground/src/pages/videos/customize-cart.astro',
  }}
  sidebar={[
    {
      label: 'Training Videos',
      items: [
        { label: 'Overview', link: '/videos/' },
        { label: 'Add custom product lines to cart summary', link: '/videos/add-product-lines-to-cart-summary/' },
        { label: 'Buy online, pickup in store', link: '/videos/buy-online-pickup-in-store/' },
        { label: 'Customize address form layout and address lookup', link: '/videos/customize-address-form-layout/' },
        { label: 'Customize cart summary', link: '/videos/customize-cart-summary/' },
        { label: 'Customize order summary lines', link: '/videos/customize-order-summary-lines/' },
        { label: 'Multi-step guest checkout', link: '/videos/multi-step-checkout/' },
      ],
    },
  ]}
>
  <style is:global>
    .sl-container.sl-container {
      max-width: 100%;
    }
    .meta.sl-flex {
      margin-top: 0;
      margin-bottom: 1rem;
      padding-top: 0;
    }
  </style>

  <h2>What you'll learn</h2>

  <p>In this video, you will learn how to customize the cart drop-in component and adjust the cart experience. There are several ways to enhance the cart by making some minor changes or updates to the code.</p>

  <h2>Who is this video for?</h2>

  <ul>
    <li>Developers who need to learn how to implement these customizations for the order summary.</li>
    <li>Merchandisers to understand what options are available using native features to enhance the customer experience around the order summary.</li>
  </ul>

  <h2>Video content</h2>

  <ul>
    <li>Display an estimated shipping cost</li>
    <li>Include a total amount saved for the cart summary</li>
    <li>Merge lines in the cart summary into one collapsible section</li>
  </ul>

  <p>
    <iframe
    width="760"
    height="430"
    src="https://video.tv.adobe.com/v/3441185?learn=on"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    ></iframe>
  </p>

  <div style="max-width: 760px;">
    <Aside type="note" title="Looking for the documentation?">
      See the <a href="https://experienceleague.adobe.com/developer/commerce/storefront/dropins/cart/tutorials/order-summary-lines/">text-based</a> version of this video tutorial for step-by-step instructions and code samples.
    </Aside>
  </div>

</StarlightPage>