---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import Aside from '@components/Aside.astro';
---

<StarlightPage
  frontmatter={{
    title: 'Customize cart summary',
    description: 'Learn how to customize the layout of the cart summary.',
    tableOfContents: false,
    editUrl:
      'https://github.com/commerce-docs/microsite-commerce-storefront/blob/api-playground/src/pages/videos/customize-cart.astro',
  }}
  sidebar={[
    {
      label: 'Training Videos',
      items: [
        { label: 'Overview', link: '/videos/' },
        { label: 'Add custom product lines to cart summary', link: '/videos/add-product-lines-to-cart-summary/' },
        { label: 'Buy online, pickup in store', link: '/videos/buy-online-pickup-in-store/' },
        { label: 'Customize address form layout and address lookup', link: '/videos/customize-address-form-layout/' },
        { label: 'Customize cart summary', link: '/videos/customize-cart-summary/' },
        { label: 'Customize order summary lines', link: '/videos/customize-order-summary-lines/' },
        { label: 'Multi-step guest checkout', link: '/videos/multi-step-checkout/' },
      ],
    },
  ]}
>
  <style is:global>
    .sl-container.sl-container {
      max-width: 100%;
    }
    .meta.sl-flex {
      margin-top: 0;
      margin-bottom: 1rem;
      padding-top: 0;
    }
  </style>

  <h2>What you'll learn</h2>

  <p>In this video, you will learn how to adjust the transactional flow for checkout using the cart drop-in component.</p>

  <h2>Who is this video for?</h2>

  <ul>
    <li>Developers and store owners learning about Edge Delivery Services with a need to change some cart drop-in elements.</li>
    <li>Marketers and others who are interested in using SharePoint to manage features and AB testing.</li>
  </ul>

  <h2>Video content</h2>

  <ul>
    <li>Quantity Selector Update. Update the product quantity selector from an incrementor to a dropdown, customized to display values from 1 to 20.</li>
    <li>Discount Display. Implemented features to show discount percentages and dollar amount discounts for sale items in the cart.</li>
    <li>A/B Testing Flexibility. Enabled configurations through SharePoint, empowering marketers to control and test these features.</li>
    <li>Enhanced Marketing Control. Easily manage and test configurations, improving user experience and marketing effectiveness.</li>
  </ul>

  <div>
    <iframe
    width="760"
    height="430"
    src="https://video.tv.adobe.com/v/3442351?learn=on"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
    ></iframe>
  </div>

  <div style="max-width: 760px;">
    <Aside type="note" title="Looking for the documentation?">
      See the <a href="https://experienceleague.adobe.com/developer/commerce/storefront/dropins/cart/tutorials/configure-cart-summary/">text-based</a> version of this video tutorial for step-by-step instructions and code samples.
    </Aside>
  </div>

</StarlightPage>