:root {
  /** Key layout values */
  --sl-nav-height: 4rem;
  --sl-nav-pad-y: 1rem;
  --sl-nav-pad-x: 1rem;
  --sl-sidebar-width: 13.25rem;
  --sl-sidebar-pad-x: 1rem;
  --sl-content-width: 40rem;
  --sl-content-pad-x: 2rem;
  --sl-border-radius: 3px;
  --sl-nav-gap: 2rem;
}