---
import type { Props } from "@astrojs/starlight/props";

// Check if we're on the commerce-services page or the commerce-optimizer page
const isPlaygroundPage = Astro.url.pathname.includes("/playgrounds/");
---

<div class="content-panel">
  <div
    class={`sl-container ${isPlaygroundPage ? "full-width-container" : ""}`}
  >
    <slot />
  </div>
</div>

<style>
  .content-panel {
    padding: 1.25rem var(--sl-content-pad-x);
  }
  .sl-container {
    max-width: var(--sl-content-width);
  }
  .full-width-container {
    max-width: none !important;
  }
  .sl-container > :global(* + *) {
    margin-top: 0;
  }
  .home-page-container {
    max-width: none !important;
  }
</style>
