---
interface Props {
  square?: boolean;
  columnCount?: number;
}

const { square = false, columnCount = 2 } = Astro.props;
---

<div class="callouts" data-column-count={columnCount} data-square={square}>
  <slot />
</div>

<style>
  .callouts {
    column-count: 2;
    column-gap: 1.5rem;
    margin: 2rem 0;
    overflow-wrap: break-word;
  }

  .callouts[data-column-count='1'] {
    column-count: 1;
  }

  .callouts[data-column-count='3'] {
    column-count: 3;
  }

  .callouts :global(ol) {
    padding-inline-start: 0;
    margin-top: 0;
    counter-reset: list-item;
  }

  .callouts :global(ul) {
    padding-inline-start: 0;
    margin-top: 0;
  }

  .callouts :global(ol li) {
    position: relative;
    padding-inline-start: 2.25rem;
    padding-bottom: 0;
    list-style: none;
    counter-increment: list-item;
    color: var(--text-secondary);
    letter-spacing: -0.02rem;
    min-height: calc(1.5rem + 0.25rem);
    break-inside: avoid-column;
  }

  .callouts :global(ol li::before) {
    --bullet-size: 1.5rem;
    --bullet-margin: 0.25rem;
    position: absolute;
    content: counter(list-item);
    line-height: 1.4;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    color: var(--text-primary);
    background-color: var(--accent-primary);
    border-radius: 50%;
    margin-left: -2rem;
    margin-right: var(--bullet-margin);
    margin-top: 0;
    width: var(--bullet-size);
    height: var(--bullet-size);
  }

  .callouts[data-square='true'] :global(ol li::before) {
    border-radius: 4px;
  }

  .callouts :global(ol li ul li) {
    margin-top: 0;
    position: relative;
    padding-inline-start: 0;
    padding-bottom: 0;
    margin-left: 1.25rem;
    list-style: none;
    counter-increment: none;
    color: var(--text-tertiary);
    letter-spacing: 0;
    min-height: 1rem;
    break-inside: auto;
  }

  .callouts :global(ol li ul li::before) {
    position: absolute;
    content: '•';
    line-height: 1.6rem;
    font-size: 1rem;
    font-weight: 700;
    color: var(--accent-primary);
    margin-left: -1rem;
    margin-top: 0;
  }

  @media only screen and (max-width: 600px) {
    .callouts {
      column-count: 1;
    }
  }
</style>
