---
const { caption, width, maxHeight = "500px" } = Astro.props;
---

<div class="diagram">
  <slot />
  <div class="caption">{caption}</div>
</div>

<style define:vars={{ imageWidth: width, maxHeight: maxHeight }} is:global>
  .diagram {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 0.5rem;
    border: 1px solid var(--sl-color-gray-4);
    box-shadow: var(--sl-shadow-sm);
    padding: 0;
    background-color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-height: var(--maxHeight);
    /* For Firefox: */
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
  }

  /* For WebKit browsers */
  .diagram::-webkit-scrollbar {
    width: 8px;
  }

  .diagram::-webkit-scrollbar-track {
    background: transparent;
  }

  .diagram::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
  }

  .ac-steps .ac-step .diagram.diagram {
    margin-bottom: 1.5rem;
  }

  .diagram.diagram > p {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
    font-size: 0;
    line-height: 0;
  }

  .diagram.diagram img {
    width: var(--imageWidth);
    height: auto;
    padding: 0;
    margin: 0;
    object-position: top;
  }

  .caption.caption {
    font-size: 1rem;
    font-style: italic;
    line-height: normal;
    padding: 0.75rem;
    margin: 0;
    color: var(--sl-color-gray-2);
    background-color: var(--sl-color-gray-6);
  }

  @media screen and (max-width: 600px) {
    .caption.caption {
      padding: 0.15rem 0.5rem;
    }
  }
  @media print {
    .diagram.diagram {
      border: none;
      box-shadow: none;
      background-color: #fff;
      max-height: none;
    }
  }
</style>
