---
import { Icon } from '@astrojs/starlight/components';
---

<div class="wrapper">
  <div class="socialLinks">
    <a
      href="https://github.com/bdenham"
      target="_blank"
      aria-label="Visit Bruce Denham's GitHub profile"
      rel="noopener noreferrer"
    >
      <Icon name="github" label="GitHub" size="1.25rem" color="#0066cc" />
    </a>
  </div>

  <div class="footerLinks">
    <span class="copyright">Copyright © 2025 Bruce Denham. All rights reserved.</span>
    <div class="personalLinks">
      <a href="https://github.com/bdenham/sanity-check" target="_blank" rel="noopener noreferrer">
        Source Code
      </a>
    </div>
  </div>
</div>

<style>
  .wrapper {
    display: flex;
    justify-content: left;
    align-items: top;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  .footerLinks {
    display: block;
    align-items: right;
    color: var(--sl-color-gray-2);
    font-size: 0.75rem;
    justify-items: end;
  }
  .personalLinks {
    display: flex;
    white-space: nowrap;
  }
  .socialLinks {
    color: var(--sl-color-accent);
    display: flex;
    width: 100%;
    gap: 1rem;
  }
</style>
