---
import { Icon } from '@astrojs/starlight/components';
---

<div class="wrapper">
  <div class="socialLinks">
    <a href="https://www.facebook.com/adobe" target="_blank"
      ><Icon name="facebook" label="Facebook" size="1.25rem" /></a
    >
    <a href="https://www.instagram.com/adobe" target="_blank"
      ><Icon name="instagram" label="Instagram" size="1.25rem" /></a
    >
    <a href="https://www.twitter.com/adobe" target="_blank"
      ><Icon name="x.com" label="X.com" size="1.25rem" /></a
    >
    <a href="https://www.linkedin.com/company/adobe" target="_blank"
      ><Icon name="linkedin" label="LinkedIn" size="1.25rem" /></a
    >
  </div>

  <div class="footerLinks">
    <span class="copyright">Copyright © 2024 Adobe. All rights reserved.</span>
    <div class="adobeLinks">
      <a href="https://www.adobe.com/privacy.html" target="_blank">&nbsp;Privacy / </a>
      <a href="https://www.adobe.com/privacy/cookies.html" target="_blank">&nbsp;Terms of Use / </a>
      <a
        href="https://business.adobe.com/products/experience-manager/adobe-experience-manager.html?s_iid=7011O000003Jq1LQAS&s_cid=7015Y000003t8AeQAI&sdid=1SQHCYNX&mv=search&edtamo=true&ef_id=Cj0KCQiA0MG5BhD1ARIsAEcZtwSkN6r3-GMQvMCxPoBvhoa4KQzPFSmJ4tGuQSQ4TE3GbXhGNDcvDi4aArFEEALw_wcB:G:s&s_kwcid=AL!3085!3!704082603285!p!!g!!adobe%20experience%20management!21419948282!166867506231&gad_source=1&gclid=Cj0KCQiA0MG5BhD1ARIsAEcZtwSkN6r3-GMQvMCxPoBvhoa4KQzPFSmJ4tGuQSQ4TE3GbXhGNDcvDi4aArFEEALw_wcB"
        target="_blank"
        >&nbsp;Cookie preferences /
      </a>
      <a href="https://www.adobe.com/privacy/us-rights.html" target="_blank"
        >&nbsp; Do not sell my personal information /
      </a>
      <a href="https://www.adobe.com/privacy/opt-out.html#interest-based-ads" target="_blank"
        >&nbsp;AdChoices</a
      >
    </div>
  </div>
</div>

<style>
  .wrapper {
    display: flex;
    justify-content: left;
    align-items: top;
    gap: 0.5rem;
  }
  .footerLinks {
    display: block;
    align-items: right;
    color: var(--sl-color-gray-2);
    font-size: 0.75rem;
    justify-items: end;
  }
  .adobeLinks {
    display: flex;
    white-space: nowrap;
  }
  .socialLinks {
    display: flex;
    width: 100%;
    gap: 1rem;
  }
</style>
