---
// Tasks container component for organizing multiple task items
---

<div class="tasks-container">
  <slot />
</div>

<style>
  .tasks-container {
    counter-reset: task;
    margin: 2rem 0;
  }

  .tasks-container :global(.task-item) {
    counter-increment: task;
  }

  .tasks-container :global(.task-item:not(:last-child)) {
    margin-bottom: 1rem;
  }

  @media print {
    .tasks-container {
      margin: 1rem 0;
    }
  }
</style>
