---
interface Props {
  square?: boolean;
}

const { square } = Astro.props;
const radius = square ? 0 : 0;
---

<div class="ac-task">
  <slot />
</div>

<style is:global define:vars={{ radius }}>
  .ac-task.ac-task {
    --bullet-size: 2.5rem;
    border-radius: 0.5rem;
    border: 1px solid var(--sl-color-gray-5);
    background-color: var(--sl-color-gray-8);
    color: var(--sl-color-gray-1);
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: -1rem;
    overflow-wrap: break-word;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    /* box-shadow: 0 0 6px 1px var(--sl-color-gray-5); */
  }

  .ac-task.ac-task > ol {
    color: var(--sl-color-gray-1);
    padding-left: 0;
  }

  .ac-task.ac-task > h3 {
    counter-increment: task;
    color: var(--sl-color-gray-1);
    line-height: 1;
    padding-left: 0;
    margin-bottom: 1rem;
  }

  .ac-task.ac-task > h3::before {
    content: "Step " counter(task);
    border-radius: 0.2rem;
    display: inline-block;
    text-align: center;
    color: var(--sl-color-black);
    width: 4rem;
    height: 1.5rem;
    line-height: normal;

    /* Screen rules */
    font-size: 1rem;
    margin-left: -1.75rem;
    margin-top: -2.75rem;
    margin-right: 0;
    position: absolute;
    color: var(--sl-color-black);
    background-color: var(--sl-color-accent);

    /* Test Print rules */
    /* font-size: 1.2rem;
    margin-left: -1rem;
    margin-top: -1rem;
    margin-right: 0.2rem;
    margin-bottom: -1rem;
    position: relative;
    color: #cb361d;
    background-color: transparent; */
  }

  /* Print-specific styles */
  @media print {
    .ac-task.ac-task {
      background-color: #fff;
      color: #000;
      border: none;
      page-break-after: always;
      page-break-inside: avoid;
    }

    .ac-task.ac-task > ol {
      padding-left: 0;
      margin: 0;
      padding: 0;
    }
    .ac-task.ac-task ol.sl-steps li {
      margin-bottom: 0;
    }

    .ac-task.ac-task > h3::before {
      content: "Step " counter(task);
      border-radius: 0.2rem;
      display: inline-block;
      text-align: center;
      color: var(--sl-color-black);
      width: 4rem;
      height: 1.5rem;
      line-height: normal;

      font-size: 1.2rem;
      margin-left: -0.5rem;
      margin-top: -1rem;
      margin-right: 0.2rem;
      margin-bottom: -1rem;
      position: relative;
      color: #cb361d;
      background-color: transparent;
    }
    .ac-task.ac-task > h3 {
      margin-top: 0;
      margin-bottom: 0.75rem;
    }
  }
</style>
