---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
import { merchantSidebar } from './merchantSidebar.astro';

---

<StarlightPage
  frontmatter={{
    title: 'Commerce Merchants',
    description: 'Storefront content management documentation for merchants.',
    tableOfContents: true,
    editUrl:
      'https://github.com/commerce-docs/microsite-commerce-storefront/blob/api-playground/src/pages/merchants/index.astro',
  }}
  sidebar={merchantSidebar}
>
  <p>
    Welcome to the Commerce Storefront documentation for merchants and marketers, where you can learn about managing content and other assets for for your commerce storefront.
  </p>
</StarlightPage>
