---
import StarlightPage from '@astrojs/starlight/components/StarlightPage.astro';
---

<StarlightPage
  frontmatter={{
    title: 'Customize the cart drop-in component',
    description: 'Learn how to customize the cart drop-in component.',
    tableOfContents: false,
    editUrl:
      'https://github.com/commerce-docs/microsite-commerce-storefront/blob/api-playground/src/pages/videos/customize-cart.astro',
  }}
  sidebar={[
    {
      label: 'Merchants',
      items: [
        { label: 'Overview', link: '/merchants/' },
        { label: 'Multi-store setup', link: '/merchants/multistore/' },
      ],
    },
  ]}
>
  <style is:global>
    .sl-container.sl-container {
      max-width: 100%;
    }
    .meta.sl-flex {
      margin-top: 0;
      margin-bottom: 1rem;
      padding-top: 0;
    }
  </style>

  <p>Adobe Commerce uses a [hierarchical structure](https://experienceleague.adobe.com/en/docs/commerce-admin/start/setup/websites-stores-views) to manage multiple stores within a single instance. This structure consists of three levels: websites, stores, and store views. Localization is managed at the store view level, allowing merchants to present the store in different languages and apply the proper currency.
</p>
<p>
    To maintain storefronts that implement Edge Delivery Services, you must be familiar with its building blocks. The following topics describe the EDS features.
</p> 
<p>
    <strong>Authoring and Publishing Content</strong>
</p>
<ul>
    <li><a href="https://experienceleague.adobe.com/en/docs/experience-manager-cloud-service/content/edge-delivery/document-authoring/authoring">Authoring and Publishing Content</a></li>
    <li><a href="https://www.aem.live/docs/bulk-metadata">Bulk Metadata</a></li>
    <li><a href="https://www.aem.live/docs/placeholders">Placeholders</a></li>
</ul>

ETC...

</StarlightPage>